extends layout

block content
 
 div(class="container") 

  h1=title

  div(class="card",style="max-width: 30rem")

    div(class="card-body")

      form(action="/login",method="post")
      div 

        label(class="form-label", for="user") Usuario
        input(type="text",name="user"  class="from-control", required)

      div 
        label(class="form-label", for="pass") Clave
        input(type="password",name="pass" class="from-control", required)

      div(class="my-2")
        botton(type="summit",class="btn btn-dark") Iniciar 
