extends ../layout


block content
    h1 Usuarios 
    table(class="table")
        thead 
            tr 
                th id 
                th User Name 
        tbody(class="table-group-divider")
            for user,i in userList 
                tr
                    td=i
                    td #{user.id}
                    td #{user.username} 
            