extends ../layout


block content
    h1 Usuarios 
    table(class="table")
        thead 
            tr 
                th id 
                th User Name 
        tbody(class="table-group-divider")
            tr
                td 123asd
                td Kenny 
            tr
                td 1df23asd
                td diana  
            tr
                td 12df3asd
                td maria 